<div class="login-form">
    <form method="post" action="{#{ path('security_login') }#}">
        {{ form_widget(loginForm.mail) }}
        {{ form_widget(loginForm.password) }}
        <button type="submit">Se connecter</button>
    </form>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</div>
