{% extends 'backoffice/main/base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">Nouveau produit</h1>

    {{ include('backoffice/main/user/_form.html.twig') }}

{% endblock %}