{% extends 'backoffice/main/base.html.twig' %}

{% block title %}Créer une catégorie {% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">Nouvelle catégorie</h1>

    {{ include('backoffice/main/user/_form.html.twig') }}

{% endblock %}