{% extends 'backoffice/main/base.html.twig' %}

{% block title %}Modification de {{ user.mail }}{% endblock %}

{% block body %}
    <h1 class="mt-3 mx-3">Modifier {{ user.mail }}</h1>

    {{ include('backoffice/main/product/_form.html.twig', {'button_label': 'Modifier'}) }}
    {#{ include('backoffice/main/product/_delete_form.html.twig') }#}
{% endblock %}